@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2CD5C;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.cabecera {
  border-bottom: 6px solid #FBFACD;
}
.cabecera .bgVioleta {
  background-color: #27005D;
}
.cabecera .bgVioleta .fBlanco {
  color: white;
}

.nav-item:hover {
  color: black;
}

.logo {
  width: 8vh;
  height: 8vh;
  position: relative;
}

.titulos {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.subtitulos {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.parrafoIndex {
  width: 900px;
  margin-left: 50px;
  font-weight: 600;
  background-color: #BA94D1;
  color: #27005D;
  position: relative;
  left: 170px;
}

.navMain {
  padding-bottom: 40px;
}
.navMain .subtituloEntrada {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #BA94D1;
  width: 500px;
  height: 40px;
  border: 2px solid #27005D;
  text-align: center;
  position: relative;
  left: 70px;
}
.navMain .subtituloEntrada .bordeEntrada {
  border: 3px solid #27005D;
}
.navMain .fotoEntrada {
  width: 640px;
  height: 360px;
  margin-left: 10px;
}

.navMain a {
  text-decoration: none;
  color: black;
}

.subtitulosObras {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 10px;
  font-style: italic;
  text-decoration: underline;
  font-weight: 900px;
  position: relative;
  left: 500px;
}

.parrafoObras {
  width: 900px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
  background-color: #BA94D1;
  color: #27005D;
  position: relative;
  left: 450px;
}

.diseñoParrafoObras {
  background-color: #FBFACD;
  width: 900px;
  font-weight: 600;
  margin-left: 10px;
  position: relative;
  left: 150px;
}

.cuerpoObrasUno {
  display: flex;
}
.cuerpoObrasUno .kurtCast {
  position: absolute;
  left: 1475px;
  bottom: 480px;
  font-weight: 600;
}
.cuerpoObrasUno .staffKurt {
  position: absolute;
  left: 1365px;
  bottom: 410px;
  font-weight: 600;
}
.cuerpoObrasUno .elencoKurt {
  position: absolute;
  left: 1680px;
  bottom: 410px;
  font-weight: 600;
}

.carousel {
  width: 1125px;
  height: 750px;
  position: relative;
}

.fotoTresHeathers {
  height: 735px;
}

.seccionTabla {
  display: flex;
}

.tablaHeathers {
  background-color: #BA94D1;
  margin: 10px;
  text-align: center;
  border: solid 2px black;
}
.tablaHeathers .contenidoTabla {
  border: solid 1px black;
  background-color: #FBFACD;
}

.cuerpoObrasDos {
  display: flex;
  margin-top: 200px;
}
.cuerpoObrasDos .ramCast {
  position: absolute;
  left: 1475px;
  top: 1350px;
  font-weight: 600;
}
.cuerpoObrasDos .staffRam {
  position: absolute;
  left: 1365px;
  top: 1410px;
  font-weight: 600;
}
.cuerpoObrasDos .tablaStaffRam {
  position: relative;
  left: 350px;
}
.cuerpoObrasDos .elencoRam {
  position: absolute;
  left: 1680px;
  top: 1410px;
  font-weight: 600;
}
.cuerpoObrasDos .tablaCastRam {
  width: 345px;
  height: 700px;
  position: relative;
  left: 350px;
}

.subtituloLista {
  font-weight: 600;
  position: relative;
  left: 80px;
  bottom: 110px;
}

.ul {
  position: relative;
  left: -40px;
  bottom: 50px;
}

.mapa {
  position: relative;
  left: 100px;
  bottom: 100px;
}

.seccionGaleria {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.seccionGaleria .fotoGaleria {
  width: 500px;
  height: 400px;
}
.seccionGaleria .fotoGaleria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divSubirFoto {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

footer {
  background-color: #FBFACD;
  padding-top: 10px;
}
footer .redesSociales {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  column-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .redesSociales .fotoInstagram, footer .redesSociales .fotoFacebook, footer .redesSociales .fotoX {
  width: 25px;
  height: 25px;
}
footer .contenidoFooter {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
footer .wsp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 247, 95);
  position: fixed;
  right: 80px;
  bottom: 40px;
}
footer .fondoWsp {
  background-color: rgb(237, 248, 85);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 75px;
  bottom: 35px;
}

/*# sourceMappingURL=estilos.css.map */
