footer{
    background-color: $color-terciario;
    padding-top: 10px;
    .redesSociales{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        column-gap: $espacio-10px;
        margin-top: $espacio-10px;
        margin-bottom: $espacio-10px;
        animation-name: flotar;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        .fotoInstagram{
            width: 30px;
            height:30px;
        }
        .fotoX{
            width: 30px;
            height:30px;
            animation-delay: 0.5s;
        }
        .fotoFacebook{
            width: 30px;
            height:30px;
            animation-delay: 1s;
        }
    }
    .contenidoFooter{
        display: flex;
        column-gap: $espacio-10px;
        justify-content: center;
        
    }
    .wsp{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(231, 247, 95);
        position: fixed;
        right: 80px;
        bottom: 40px;
        transition: transform 2s;
    }
    .wsp:hover{
        transform: rotate(720deg);
    }
    .fondoWsp{
        background-color: rgb(237, 248, 85);
        width:50px;
        height: 50px;
        border-radius: 50%;
        position:fixed;
        right: 75px;
        bottom: 35px;
    }
}

@media screen and (max-width:600px) {
    .contenidoFooter{
        font-size: 1rem;
        height: 25px
    }
}
@keyframes flotar{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}



