.cabecera{
    border-bottom: 6px solid $color-terciario;
    .bgVioleta{
        background-color: $color-secundario;
        .fBlanco{
            color: white;
        }
    }
}

.nav-item:hover{
    color: black;
}

.logo{
    width: 8vh;
    height: 8vh;
    position: relative;
}

