.titulos{
    font-size: 4rem;
    font-family: $fuente-principal;
    font-weight: 800;
    padding-left: $espacio-10px;
    margin-top: $espacio-10px;
    display: flex;
    justify-content: center;
}
    .subtitulos{
        font-size: 2.5rem;
        font-family:$fuente-principal;
        font-weight: $grosor-fuente-comun;
        padding-left: 15px;
        display: flex;
        justify-content: center;
    }
    .parrafoIndex{
        width: 900px;
        margin-left: 50px;
        font-weight: $grosor-fuente-comun;
        background-color: $color-cuatro;
        color:$color-secundario;
        position: relative;
        left: 170px;
    }
    .divIndexUno{
        display: flex;
    }
    .divIndexDos{
        display: flex;
    }
   
    .navMain{
        padding-bottom: 40px;
        .subtituloEntrada{
            font-size: 2rem;
            font-family: $fuente-principal;
            font-weight: $grosor-fuente-comun;
            margin-left: $espacio-10px;
            margin-top: 20px;
            background-color: $color-cuatro;
            width: 500px;
            height: 40px;
            border: 2px solid $color-secundario;
            text-align: center;
            position: relative;
            left: 70px;
            .bordeEntrada{
                border: 3px solid $color-secundario;
            }
        }
        .fotoEntrada{
            width: 640px;
            height: 360px;
            margin-left: $espacio-10px;
        }
    }
    .navMain a{
        text-decoration: $decoracion-ancla;
        color: map-get($map: $estilo-ancla, $key: color);
    }
    .spanUno{
        color: $color-terciario;
    }

@media screen and (max-width: 768px) {
    .titulos{
            font-size: 3rem;
            font-family: $fuente-principal;
            font-weight: 800;
            padding-left: $espacio-10px;
            margin-top: $espacio-10px;
            display: flex;
            justify-content: center;
        
    }
    .subtitulos{
        font-size: 2rem;
        font-family:$fuente-principal;
        font-weight: $grosor-fuente-comun;
        padding-left: 15px;
        display: flex;
        justify-content: center;
    }
    .parrafoIndex{
        width: 400px;
        font-weight: $grosor-fuente-comun;
        background-color: $color-cuatro;
        color:$color-secundario;
        position: relative;
        left: 100px;
    }
    
    .row{
        flex-direction: column;
        width: 100%;
        .divColumnaUno{
            width: 550px;
            position: relative;
            left: 20px;
        }
        .divColumnaDos{
            width: 550px;
            position: relative;
            left: 20px;
        }
    }
    .navMain{
        width: 1200px;
        .fotoEntrada{
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            right: -50px;       
            margin-left: $espacio-10px;
        }
        .subtituloEntrada{
            position:relative;
            right: 50px;
    
        }
    }
    
    }
