.subtitulosObras{
    font-family: $fuente-principal;
    font-size: 2.5rem;
    font-weight: $grosor-fuente-comun;
    margin-top: 20px;
    margin-left: $espacio-10px;
    font-style: italic;
    text-decoration: underline;
    font-weight: 900px;
    position: relative;
    left: 500px;
}
.parrafoObras{
    width: 900px;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: $grosor-fuente-comun;
    background-color: $color-cuatro;
    color:$color-secundario;
    position: relative;
    left: 450px;
}
.diseñoParrafoObras{
    background-color: $color-terciario;
    width: 900px;
    font-weight: $grosor-fuente-comun;
    margin-left: $espacio-10px;
    position: relative;
    left: 150px;
}
.cuerpoObrasUno{
    display: flex;
    .kurtCast{
        position: absolute;
        left: 1475px;
        bottom: 480px;
        font-weight: $grosor-fuente-comun;
    }
    .staffKurt{
        position: absolute;
        left: 1365px;
        bottom: 410px;
        font-weight: $grosor-fuente-comun;
    }
    .elencoKurt{
        position: absolute;
        left: 1680px;
        bottom: 410px;
        font-weight: $grosor-fuente-comun;
    }
}
.carousel{
    width: 1125px;
    height: 750px;
    position: relative;
}
.fotoTresHeathers{
    height: 735px;
}
.seccionTabla {
    display: flex;
}
.tablaHeathers{
    background-color: $color-cuatro;
    margin: $espacio-10px;
    text-align: center;
    border: solid 2px black;
    .contenidoTabla{
        border: solid 1px black;
        background-color: $color-terciario;
    }
}
.cuerpoObrasDos{
    display: flex;
    margin-top: 200px;
    .ramCast{
        position: absolute;
        left: 1475px;
        top: 1350px;
        font-weight: $grosor-fuente-comun;
    }
    .staffRam{
        position: absolute;
        left: 1365px;
        top: 1410px;
        font-weight: $grosor-fuente-comun;
    }
    .tablaStaffRam{
        position: relative;
        left: 350px;
        
    }
    .elencoRam{
        position: absolute;
        left: 1680px;
        top: 1410px;
        font-weight: $grosor-fuente-comun;
    }
    .tablaCastRam{
        width: 345px;
        height: 700px;
        position: relative;
        left: 350px;
    }
}
.subtituloLista{
    font-weight: $grosor-fuente-comun;
    position: relative;
    left: 80px;
    bottom: 110px;
}
.ul{
    position: relative;
    left: -40px;
    bottom: 50px;
}
.mapa{
    position: relative;
    left: 100px;
    bottom: 100px;
}
