.subtitulosObras{
    font-family: $fuente-principal;
    font-size: 2.5rem;
    font-weight: $grosor-fuente-comun;
    margin-top: 20px;
    margin-left: $espacio-10px;
    font-style: italic;
    text-decoration: underline;
    font-weight: 900px;
    position: relative;
    left: 500px;
    width: 200px;
}
.parrafoObras{
    width: 900px;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: $grosor-fuente-comun;
    background-color: $color-cuatro;
    color:$color-secundario;
    position: relative;
    left: 450px;
}
.diseñoParrafoObras{
    background-color: $color-terciario;
    width: 900px;
    font-weight: $grosor-fuente-comun;
    margin-left: $espacio-10px;
    position: relative;
    left: 150px;
}
.cuerpoObrasUno{
    display: flex;
    .tablaUno{
        position: relative;
        right: 60px;
    }
    .tablaDos{
        position: relative;
        right: 60px;
    }
    .kurtCast{
        position: absolute;
        left: 1415px;
        bottom: 480px;
        font-weight: $grosor-fuente-comun;
        width: 300px;
    }
    .staffKurt{
        position: absolute;
        left: 1305px;
        bottom: 410px;
        font-weight: $grosor-fuente-comun;
    }
    .elencoKurt{
        position: absolute;
        left: 1620px;
        bottom: 410px;
        font-weight: $grosor-fuente-comun;
    }
}
.carousel{
    width: 1125px;
    height: 750px;
    position: relative;
    right: 50px;
}
.fotoTresHeathers{
    height: 735px;
}
.seccionTabla {
    display: flex;
    
}
.tablaHeathers{
    background-color: $color-cuatro;
    margin: $espacio-10px;
    text-align: center;
    border: solid 2px black;
    
    .contenidoTabla{
        border: solid 1px black;
        background-color: $color-terciario;
    }
}
.cuerpoObrasDos{
    display: flex;
    margin-top: 200px;
    .ramCast{
        position: absolute;
        left: 1415px;
        top: 1350px;
        font-weight: $grosor-fuente-comun;
        width: 200px;
    }
    .staffRam{
        position: absolute;
        left: 1305px;
        top: 1410px;
        font-weight: $grosor-fuente-comun;
    }
    .tablaStaffRam{
        position: relative;
        left: 290px;
        
    }
    .elencoRam{
        position: absolute;
        left: 1620px;
        top: 1410px;
        font-weight: $grosor-fuente-comun;
    }
    .tablaCastRam{
        width: 345px;
        height: 700px;
        position: relative;
        left: 290px;
    }
}
.subtituloLista{
    font-weight: $grosor-fuente-comun;
    position: relative;
    left: 80px;
    bottom: 110px;
}
.ul{
    position: relative;
    left: -40px;
    bottom: 50px;
}
.mapa{
    position: relative;
    left: 100px;
    bottom: 100px;
}

@media screen and (max-width: 768px) {
    .titulos{
        font-size: 2rem;
    }
    .parrafoObras{
    width: 500px;
    margin-top: 20px;
    font-weight: $grosor-fuente-comun;
    background-color: $color-cuatro;
    color:$color-secundario;
    position: relative;
    left: 75px;  
    }
    .subtitulosObras{
        font-family: $fuente-principal;
        font-size: 2rem;
        font-weight: $grosor-fuente-comun;
        margin-top: 20px;
        font-style: italic;
        text-decoration: underline;
        font-weight: 900px;
        position: relative;
        left: 290px;
    }
    .diseñoParrafoObras{
        background-color: $color-terciario;
        width: 500px;
        font-weight: $grosor-fuente-comun;
        margin-left: $espacio-10px;
        position: relative;
        left: 120px;
    }
    .cuerpoObrasUno{
        display: inline;
        .carousel{
            width: 1125px;
            height: 465px;
            position: relative;
            left: 0px;
            .fotoTresHeathers{
                height: 465px;
            }
        }
        .kurtCast{
            position: absolute;
            left: 300px;
            bottom: -300px;
            font-weight: $grosor-fuente-comun;
            width: 200px;
            }
            .staffKurt{
                position: absolute;
                left: 160px;
                bottom: -350px;
                font-weight: $grosor-fuente-comun;
            }
            .elencoKurt{
                position: absolute;
                left: 490px;
                bottom: -350px;
                font-weight: $grosor-fuente-comun;
            }
        .tablaUno{
            position: relative;
            top: 124px;
            left: 50px;
        }
        .tablaDos{
            position: relative;
            left: 360px;
            top: -39px;
        }
    }
    .cuerpoObrasDos{
        display: inline;
        margin-top: 200px;
        .ramCast{
            position: absolute;
            left: 300px;
            top: 1500px;
            font-weight: $grosor-fuente-comun;
            width: 200px;
        }
        .staffRam{
            position: absolute;
            left: 160px;
            top: 1550px;
            font-weight: $grosor-fuente-comun;
        }
        .tablaStaffRam{
            position: relative;
            left: 50px;
            bottom: 650px;
            
        }
        .elencoRam{
            position: absolute;
            left: 460px;
            top: 1550px;
            font-weight: $grosor-fuente-comun;
        }
        .tablaCastRam{
            position: relative;
            left: 356px;
            bottom: 813px;
            height: 200px;
        }
    }
    .subtituloLista{
        font-weight: $grosor-fuente-comun;
        position: relative;
        left: 300px;
        top: 400px;
        width: 100px;
    }
    .ul{
        position: relative;
        left: 250px;
        top: 420px;
        width: 200px;
    }
    .mapa{
        position: relative;
        left: 100px;
        top:440px;
        margin-bottom: 130px;
    }
    
}