$color-principal: #F2CD5C;
$color-secundario: #27005D;
$color-terciario: #FBFACD;
$color-cuatro: #BA94D1;
$espacio-10px: 10px;
$fuente-principal: 'Montserrat', sans-serif;
$grosor-fuente-comun: 600;
$decoracion-ancla: none;
$color-ancla-negro: black;
$estilo-ancla: (
    decoracion: none,
    color: black,
);